body {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: "Mulish", sans-serif;
}
.navBar{
    display: flex;
    flex-direction: row;
    gap:3rem;
    font-weight: 600;
    font-size: larger;
    color:#335C6E;
}
.navImage {
    width: 8%;
    margin:0.3em 1.5rem;
}
.navLinks{
    position: absolute;
    right:6rem;
    top:0.5rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.nav-link {
    color: #335C6E;
  }
.navLinks:hover{
    color:#5ACCCC;
}
.navLinks:active{
    font-weight: bolder;
}
.searchBar{
    width: 45%;
    height: 50%;
    border:3px #5ACCCC solid !important;
}
.searchBarContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
    gap:2rem;
  }
  .searchBarContainer button{
    padding: 1rem;
    width: 12rem;
    border: 2px solid #5ACCCC;
    color: #5ACCCC;
    border-radius: 23px;
    font-size: larger;
    background-color:white;
  }
  .searchBarContainer button:hover{
    background-color: #FAAD00;
    color: white;
  }
  .searchBar input {
    border-color: #5ACCCC !important;
  }
