body {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
}
.navBar{
    display: flex;
    flex-direction: row;
    gap:3rem;
    font-size: larger;
    color:#335C6E;
}
.navImage {
    width: 8%;
    margin:0.3em 1.5rem;
}
.navLinks{
    position: absolute;
    right:6rem;
    top:0.5rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-weight: 600;
    cursor: pointer;
}
  .navLinks p:active {
    color: #5ACCCC;
}
.navLinks p:hover{
    color:#5ACCCC;
}
.navLinks p{
  color: #335C6E
}
.searchBar{
    width: 45%;
    height: 50%;
    gap:10em
}
.searchBar input::placeholder {
    color: #335C6E; 
    opacity: 1;  
    font-size: 20px;
    font-weight: 500;
  }
.searchBarContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 6em; 
    gap:4rem;
  }
  .searchBar .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border: 3px solid #5ACCCC;
  }
  .searchBar .MuiInputAdornment-root {
    margin-right: 8rem;
  }
  
  .searchBar .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #FAAD00; 
  }
  
  .searchBar .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #5ACCCC; 
  }
  .searchBarContainer button{
    padding: 1rem;
    width: 14rem;
    border: 1.5px solid #5ACCCC;
    color: #5ACCCC;
    border-radius: 23px;
    font-size: larger;
    font-weight: 500;
    background-color:white;
  }
  .searchBarContainer button:hover{
    background-color: #5ACCCC ;
    border: 2px solid #FAAD00;
    color: white;
    font-weight: medium;
  }
  .searchResults{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: larger;
    gap:6px;
    font-weight: bold;
  }
  .resultquery{
    color: #F76434;
    font-size: larger;
  }

